{{>animatecss}} {{>font_awesome}}
<div id="homeContainer">
    <div class="row">
        <div class="col s12 m6 l6">
            <div class="card white">
                <div class="card-content">
                    <a href="/userSettings" class="center-align card-title"><i class="fa fa-key icons" aria-hidden="true"></i>&nbsp&nbspChange Password</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="card white">
                <div class="card-content">
                    <a href="/coach" class="center-align card-title"><i class="fa fa-plus-square-o icons" aria-hidden="true"></i>&nbsp&nbspAdd New Coach</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6">
            <div class="card white">
                <div class="card-content">
                    <a href="/coach/remove" class="center-align card-title"><i class="fa fa-minus-square-o" aria-hidden="true"></i>&nbsp&nbspRemove Coach</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="card white">
                <div class="card-content">
                    <a href="/logout" class="center-align card-title"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp&nbspLog Out</a>
                </div>
            </div>
        </div>
    </div>
</div>

</script>